*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/src/main/assets/book/audio/TheShadowOfTheTorturer.epub/ShadowoftheTorturer.m4a
/app/src/main/assets/whisper-base.en.tflite